html {
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    background-color: white;
}

.logo {
    min-width: 400px;
}

img {
    padding: 20px;
    width: 150px;
    height: 70px;
}

.left {
    margin: 0;
    display: flex;
    background-image: url(mailboxes.jpg);
    background-size: cover;
    flex-grow: 2;
}

.right {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 0 auto;
    padding: 0 50px;
}

h1 {
    font-size: 20px;
    margin: 0;
    padding: 15px 0;
}

form {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    flex-wrap: wrap;
}

form div {
    padding-right: 30px;
    width: 100%;
}

section {
    display: flex;
    flex-direction: row;
    padding-bottom: 8px;
}

label {
    display: block;
}

input {
    padding: 5px;
    width: 100%;
}

.submit {
    padding-top: 10px;
}